body{
    background-color: #173753;
}

.all-athletes-pg-div{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
}

.headers{
    display: flex;
    justify-content: center;
    background-color: #1098F7;
}

.header-divs{
    font-weight: bold;
    font-size: 30px;
    margin: 0 70px;
}




.all-players-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFC;
    width: 100%;
    max-width: 970px;
    padding: 0 0 40px 0;
    font-size: 20px;
    margin: 0 auto;
}

.player-block-data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 5% 0 5%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(238, 238, 238);
    cursor: pointer;
}

.player-data{
    text-align: center;
}



.player-img{
    width: 100px;
    height: 100px;
}

.single-athlete__label{
    margin-right: 10px;
}
